@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* universal-style */
*{
    margin: 0;
}

.container{
    max-width: 1320px;
    width: 83%;
    margin: 0 auto;
}

/* header style */
.new-year{
    background-image: url('../resources/BannerImage.png');
    border-radius: 16px;
    margin-top: 15px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

header h3{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    font-family: Merriweather;
    font-style: normal;
}

header h1{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
    font-family: Merriweather;
    font-style: normal;
    margin-top: 15px;
}

.new{
    padding: 199px 240px;

}

/* main style */

/* discount section style */
.discount-container{
    max-width: 803px;
    width: 50%;
    margin: 0px auto;
    margin-bottom: 100px;
}

.discount-container .content h2{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 45px;
}

.discount-container .content h4{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    font-family: Inter;
    font-style: normal;
    margin-bottom: 15px;
}

.discount-container .content h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

/* party style */
.party{
    background-image: url('../resources/Vectorrr.png');
    display: flex;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    gap: 40px;
}

.party .party-content h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.party .party-content p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 40px;
}

.party .party-content a{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.party-content{
    max-width: 697px;
    width: 53%;
    padding-left: 126px;
    padding-bottom: 126px;
    padding-top: 126px;
}
.party-img{
    max-width: 320px;
    width: 25%;
    padding-right: 126px;
    padding-bottom: 126px;
    padding-top: 126px;
}

/* plan-stye */
.plan{
    background-color: rgb(245, 233, 235);
    margin-bottom: 100px;
}

.plan-content{
    padding: 100px 250px;
    text-align: center;
}

.plan .plan-content h3{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.plan .plan-content h3 span{
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.plan .plan-content button{
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   padding: 5px 30px;
   margin-top: 50px;
}

/* offer style */
.offer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 100px;
}

.left-text{
    width: 393px;
}

.left-text h5{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.left-text h2{
    color: #070211;
   font-family: Merriweather;
   font-size: 48px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   margin-bottom: 22px;
}

.left-text p{
    color: rgba(7, 2, 17, 0.60);
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; 
}

.middle-img {
    width: 463px;
    height: 463px;
    border: 15px solid #F00;
    border-radius: 50%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.middle-img img {
    width: 325px;
    height: 375px; 
}



.right-text{
    width: 276px;
}

.right-text h2{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: normal;
}

.right-text p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

/* holiday style */
.holiday{
    margin-bottom: 100px;
}
.holiday h5{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.holiday h2{
    color: #070211;
   font-family: Merriweather;
   font-size: 72px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   text-align: center;
}

.holiday h2 span{
    color: #F00;
    font-family: Merriweather;
   font-size: 72px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
}

.holiday p{
    color: rgba(7, 2, 17, 0.60);
   text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 32px; 
   max-width: 1068px;
   width: 80%;
   padding-left: 100px;
   margin-bottom: 60px;
}

.holiday-img{
    background-image: url('../resources/Rectangle1.png'), url('../resources/Rectangle2.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: right top, bottom;
    margin: 0px 100px;
}

/* awesome style */
.awesome{
    margin-bottom: 100px;
}

.awesome h5{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 14px;
}

.awesome h2{
    color: #070211;
   font-family: Merriweather;
   font-size: 48px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   margin-bottom: 20px;
}

.awesome p{
    color: rgba(7, 2, 17, 0.60);
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; 
   margin-bottom: 45px;
}

.awesome-row1,
.awesome-row2{
    display: flex;
    margin-left: 100px;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.awesome-row1 img,
.awesome-row2 img{
    width: 335px;
   height: 350px;
}

.awesome-row1 img:hover,
.awesome-row2 img:hover{
    border: 2px solid midnightblue;
    border-radius: 16px;
}

/* newslatter */
.newslatter{
   background: rgba(255, 0, 0, 0.05);
   text-align: center;
   margin-top: 100px;
   margin-bottom: 100px;
}


.newslatter h2{
    color: #070211;
   font-family: Merriweather;
   font-size: 48px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   margin-top: 40px;
   margin-bottom: 22px;
}

.newslatter p{
    color: rgba(7, 2, 17, 0.60);
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; 
   width: 800px;
   padding-left: 120px;
   margin-bottom: 45px;
}

.newslatter button{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 24px 56px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
}

.newslatter form{
    padding-bottom: 80px;
    gap: 0px;
}

.newslatter input{
    padding: 29px 300px 27px 30px;
    border-radius: 50px 0px 0px 50px;
    border: 0;
}

.newslatter img{
    padding-top: 80px;
}

/* footer */
footer{
    background: #070211;
}

footer h6{
    color: #FFF;
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: 40px;
}

footer hr{
    background: rgba(255, 255, 255, 0.15);
}

.footer-row1{
    display: flex;
    gap: 400px;
    margin-bottom: 40px;
    padding-top: 100px;
}

.footer-row2{
    text-align: center;
}

.footer-row3{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    margin-top: 40px;
}

footer img{
    margin-top: 40px;
    margin-bottom: 40px;
}